.nav-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5em 2em;
    background: $gray-1;
    font-family: 'Montserrat', sans-serif;

    &__main-logo {
        &__link {
            &__h2 {
                margin: 0;
                color: $primary-color;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                letter-spacing: 5px;
            }
        }

        &__link:hover {
            text-decoration: none;
        }
    }

    &__list {
        &__ul {
            display: flex;
            flex-flow: row wrap;
            margin: 0;
            list-style: none;

            &__li {
                color: white;
                font-weight: 600;
                margin-right: 4em;
            }

            &__li:last-child {
                margin-right: 0;
            }
        }
    }
}