// Color Pallette
//// Main colors
$primary-color: #F62F5E;
$gray-1: #2E2E2E;
$gray-2: #6C6C6C;
$gray-3: #B4B4B4;
$gray-4: #F7F7F7;

//// Documented colors
$doc-blue: #6EB2FB;
$doc-green: #00D3CA;
$doc-orange: #F1AD3D;
$doc-yellow: #EFFC90;



